@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<figure class="text-center border-bottom">
        <p class="h2">Witaj w aplikacji Finansista</p>
</figure>
<figure class="text-center">
    <p>Aplikacja ta pozwoli ci na zaplanowanie twojego budżetu.</p>
</figure>